study_resources
data/
.mypy_cache
__pycache__
.ipynb_checkpoints/

credentials.json
data_profile
documents
.ipynb_checkpoints
.vscode
machine-learning-workspace.code-workspace
*.zip
*.rtf
*.doc
*docx
*.pptx
*.xlsx
*.log

data-science-306122-df92084e7dbf.json